{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}{{ section.title }}{% endblock %}
{% block content %}

<fieldset class="settinggg">
   <h2 style="text-align: center;" class='legend'>
     {% trans "Request" %}
   </h2>
</fieldset>
<div class="request_pagge">
<h4>{% trans "Accounts" %} No :- <span>{{r.account}}
{% if carx %}</span> </h4>
<div class="code_bar_request">  
 <div class="section">
    <img src="{{ MEDIA_URL }}{{ carx }}"/>
   <form method="post">
     {% csrf_token %}
     <input type="email" name="email" placeholder='{% trans "Email" %}'>
     <input type="number" placeholder='{% trans "Amount" %}' >
     <input type="submit" class="btn btn-info" value="{% trans "Request" %}">
   </form>
 </div>
 
</div>
</div>

{% endif %}
{% endblock %}