{% extends "base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}

   <h3  style="text-align: center;">{% trans "Register" %}</h3>
<!--{% trans "Register to Qwallet" %}-->
            <div class="login-page">
              <div class="form">
                <form class="login-form" method="post" action="/register/">
                    {% csrf_token %}
                  <input type="text" name="username" placeholder='{% trans "Username" %}'/>
<!--                  <input type="password" placeholder="{% trans "Password" %}"/>-->
                    <input type="password" placeholder="{% trans "Password" %}" class="hide_input" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required  />
                  <div id="content" >
                        <p align="left" style="color:red;" >Passwords must contains at least 8 characters, 1 uppercase, 1 lowercase and 1 number </p>

                    </div>
                    <input type="text" name="fname" placeholder='{% trans "Firstname" %}'/>
                  <input type="text" name="lname" placeholder="{% trans "Lastname" %}"/>
                  <input type="email" name="email" placeholder="{% trans "Email" %}"/>
                  <input type="text" name="zname" placeholder= "Mobile" />
                  <button>{% trans "Register" %}</button>
                  <p class="message">{% trans "Registered?" %} <a href="/login_user/">{% trans "Please login?" %}</a></p>
                </form>
              </div>
            </div>
{% endblock %}
